In [46]:
import pandas as pd

df = pd.read_csv('./data/sales.csv')

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

In [48]:
df.dropna(how='all', inplace=True)

In [49]:
df['Order Date'] = pd.to_datetime(df['Order Date'], format='mixed', errors='coerce')
df['Order Date'] = df['Order Date'] + pd.DateOffset(years=4)

In [50]:
df.to_csv('./data/sales_new.csv', index=False)

In [53]:
df = df[df['Quantity Ordered'].str.strip() != 'Quantity Ordered']
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'], errors='raise')

In [62]:
df = df[df['Price Each'].str.strip() != "Price Each"]

In [63]:
df['Price Each'] = pd.to_numeric(df['Price Each'])

In [66]:
df.to_csv('./data/sales_new.csv',index=False)

In [36]:


df = pd.read_csv('./data/sales_new.csv')
top_5_products = df.groupby("Product")["Quantity Ordered"].sum().reset_index()
display(top_5_products)
top_5_products.plot(kind="bar")

,Product,Quantity Ordered
0,20in Monitor,1111121111111111111111111111111111111111111111...
1,27in 4K Gaming Monitor,1111111111111111111111111111111111111111111111...
2,27in FHD Monitor,1111111111111111111111111111111111111111111111...
3,34in Ultrawide Monitor,1111111111111111111111111111111111111111111111...
4,AA Batteries (4-pack),1111111111211212121111112111122213111111111112...
5,AAA Batteries (4-pack),1222212113212312112121111113112131111112112111...
6,Apple Airpods Headphones,1111111111111111111111111111111111111111111112...
7,Bose SoundSport Headphones,1111111111111111111211111111111111111111111111...
8,Flatscreen TV,1111111111111111111111111111111111111111111111...
9,Google Phone,1111111111111111111111111111111111111111111111...
10,LG Dryer,1111111111111111111111111111111111111111111111...
11,LG Washing Machine,1111111111111111111111111111111111111111111111...
12,Lightning Charging Cable,1112111212111112111111111111111111111111111111...
13,Macbook Pro Laptop,1111111111111111111111111111111111111111111111...
14,Product,Quantity OrderedQuantity OrderedQuantity Order...
15,ThinkPad Laptop,1111111111111111111111111111111111111111111111...
16,USB-C Charging Cable,2111111111112111111111111111111111211121121111...
17,Vareebadd Phone,1111111111111111111111111111111111111111111111...
18,Wired Headphones,1111312111111111111111111111111111112111111111...
19,iPhone,1111111111111111111111111111111111111111111111...

TypeError: no numeric data to plot